<form action='/update' method='post'>
Name: <%= person.name %><br>
<input name='username' value='<%= person.name %>' hidden>
Age: <input name='age' value='<%= person.age %>'>
<input type='submit' value='Update'>
</form>

<% include ../partials/createNewPersonLink %>
<% include ../partials/showAllPeopleLink %>