Here are all the people:
<ul>
<% persons.forEach( (person) => { %>

<li><a href="/person?name=<%= person.name %>"> <%= person.name %>: <%= person.age %></li>

<% }); %>
</ul>

<br><a href='/public/personform.html'>Create New Person</a>
